@{
    ViewBag.Title = "About";
    
}

<center>
    <div class="align-content-center m-5">
        <img src="~/Images/about.png" width="550" height="300" style="max-width:100%"/>
        <h2 class="fw-bold">About</h2>
        <h1 class="text-success text-decoration-underline fw-bold">ORGANIC MARKET</h1>
        <p>At Organic Market, we bring you a diverse selection of over 350 USDA Certified Organic food products, all available for convenient doorstep delivery. Choose organic for your well-being and to support a healthier environment. Our entire range is non-GMO and free from preservatives, artificial colors, and pesticides. Experience the unadulterated flavors and nutritional goodness that nature intended with our unprocessed foods. Join us in shopping today for a brighter world and a healthier you. We value your feedback and input.</p>
    </div>
</center>  
